/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "oswald", sans-serif;
}

/* countdown */ 

.travel-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
 
}

h1 {
    font-size: 7rem;
    font-weight: bolder;
    padding: 2rem;
    background-color: aliceblue;
    opacity: 0.6;
}

h2 {
    font-size: 5rem;
    font-weight: bolder;
    background-color: aliceblue;
    opacity: 0.6;
}
   

.count-cont {
    z-index: 1;
   
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: aliceblue;
    opacity: 0.6;
    padding-bottom: 30px;
    
}

.day,
.hour,
.min,
.secs {
    font-size: 3rem;
}

/* video background */

.video {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.video-cont {
    position: absolute;
}